.navbar {
  --state-close: scale(0);
  --state-hamburger: scale(1);
  --state-menu: translate(-100%);

  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  align-items: center;

  background-color: rgb(50, 135, 146);
  color: #ffffff;
  padding: 10px 20px;
  position: relative;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-links {
  display: grid;
  align-content: center;
  padding-left: 5%;
  gap: 20px;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(50, 135, 146);
  width: 100%;
  height: calc(100vh - 73px); /*ver cuanto hay q restarle !!!*/
  transition: all 0.3;
  transform: var(--state-menu);
  transition: 0.3s transform;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.nav-links li a:hover {
  color: rgb(109, 55, 16);
}

.nav_hamburger,
.nav_close {
  cursor: pointer;
  grid-column: -2/-1;
  grid-row: 1/2;
  transition: 0.4s transform;
}

.nav_hamburger {
  transform: var(--state-hamburger);
}

.nav_close {
  transform: var(--state-close);
}

.navbar:target {
  --state-menu: translate(0);
  --state-close: scale(1);
  --state-hamburger: scale(0);
}

.nav-item {
  position: relative;
}

.navbar ul .submenu {
  background-color: rgb(109, 55, 16);
  position: absolute;
  width: max-content;
  box-shadow: 0 20px 45px #00000020;
  margin-top: 50px;
  opacity: 0;
  z-index: -999;
  transition: all ease 0.5s;
  list-style: none;
}

.nav-links li a:hover .submenu {
  z-index: 99;
  opacity: 1;
  margin-top: 0;
}

.nav-links li a:hover .submenu li a {
  color: #ffffff;
}

.submenu li {
  margin: 0;
  width: 100%;
}

.submenu li a {
  padding: 15px 20px;
  display: inline-block;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .navbar {
    --state-hamburger: scale(0);
    --state-close: scale(0);
    justify-content: space-around;
  }

  .navbar:target {
    --state-close: scale(0);
  }

  .nav-links {
    transform: unset;
    grid-auto-flow: column;
    gap: 1.5em;
    position: unset;
    height: unset;
    grid-column: -2/-1;
    grid-row: 1/2;
  }
}
