.productsPage-container {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 60px 30px 30px auto;
}

h2 {
  margin: 20px auto;
}

.addButton-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  margin-bottom: 25px;
}

.search-box-container {
}

.productList {
  margin-top: 35px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  justify-content: center;
  grid-auto-rows: auto;
  row-gap: 25px;
  column-gap: 25px;
  padding: 50px;
}
