* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.appContainer {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  /*color: #0a0a0a;*/
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("../public/images/humo.jpg");
  background-size: cover;
  background-position: 20% 40%; */
}

.appContainer > .main-header {
  /*border: 1px solid red;*/
}

.appContainer > .main-content {
  /*border: 2px solid green;*/
}

.appContainer > .footer {
  /*border: 2px solid orange;*/
}
